{% extends 'layout.html' %}
{% block content %}
<form method="POST" action="{{ url_for('auth.signup') }}">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username() }} <br>
    {{ form.email.label }} {{ form.email() }} <br>
    {{ form.password.label }} {{ form.password() }} <br>
    {{ form.password_repeat.label }} {{ form.password_repeat() }} <br>
    {{ form.accept_tos.label }} {{ form.accept_tos() }} <br>
    {# Display the form validation errors #}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <input type="submit" value="Sign Up">
</form>
{% endblock %}