<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
{% extends 'layout.html' %}
{% set title = 'My Account' %}
{% block content %}
</br>
</br>
<div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 35rem;">
        <div class="card-header" style="width: 100%;">
          My Account
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    {% if photo_url != None %}
                            <img class="card-img-top" src="{{ url_for('static', filename=photo_url) }}" position="absolute" alt="User profile photo">
                    {% else %}
                            <div style="width: 120; height:120; background-color: rgb(201, 161, 161); position: relative; top: 5px; left: 40px; text-align: center;">Add profile photo below</div>
                    {% endif %}    
                </div>
                <div class="col-sm-6">
                    {% if first_name != None %}
                        <h3 class="card-title">Hi {{ first_name }}</h3>
                    {% else %}
                        <h3 class="card-title">Hi @{{ username }}</h3>
                    {% endif %}
                    {% if (first_name != None) and (last_name != None) %}
                        <p class="card-text">@{{ username }} • {{ first_name }} {{ last_name }} • {{ email }}</p>
                    {% else %}
                        <p class="card-text">{{ email }} • @{{ username }}</p>
                    {% endif %}
                <a href="{{ url_for('index') }}" class="btn btn-primary">Find a movie</a>
                </div>         
          </div>
        </div>
    </div>
</div>
</br>
<div class="d-flex justify-content-between">

    <div class="p-2">
        <h4>Saved Preferences</h4>
        {% if saved_prefs == [] %}
            <div>
                <h6>You don't have any saved preferences</h6>
            </div>
        {% else %}
            {% for saved_info in saved_prefs %}
                </br>
                <div class="center">
                    <div class="row">
                        <div class="col-sm-10">
                            <p class="tag-name" style="font-size:1.3rem">{{ saved_info['tag'] }}</p>
                        </div>
                        <div class="col-sm-10">
                            <div class="flex-container">
                                <div class="row">
                                    {% for i in saved_info['genre_prefs'] %}
                                        <div class="col-sm-3">
                                            <div class="center" style="width:80px; background-color: red; text-align: center; border-radius:5%">{{ i }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div>{{ saved_info['time_pref'] }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            {% endfor %}
        {% endif %}
    </div>
    <div class="p-2">
        <h4>Update Account Details</h4>
        <form method="POST" action="{{ url_for('auth.view_account') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.photo.label }} {{ form.photo() }} <br>
            {{ form.first_name.label }} {{ form.first_name() }} <br>
            {{ form.last_name.label }} {{ form.last_name() }} <br>
            {# Display the form validation errors #}
            {% for field, errors in form.errors.items() %}
                <div class="alert alert-error">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                </div>
            {% endfor %}
            <input type="submit" value="Update Account">
        </form>
    </div>
</div>
</br>
<div class="d-flex justify-content-between">
    <div class="p-2"><h4>Blends</h4></div>
    <div class="p-2">
        <h4>Friends</h4>
        <a href="{{ url_for('auth.find_friends') }}" class="btn btn-primary">Add Friends</a>
        {% if friends == [] %}
            <div>
                <h6>No friends :(</h6>
            </div>
        {% else %}
            {% for friend_info in friends %}
                <form method="POST" action="{{ url_for('auth.blend_friend') }}">
                    <input type="hidden" id="hidden_friend_variable" name="new_friend" value="{{ account_info['username'] }}">
                    </br>
                    <div class="d-flex justify-content-center">
                        <div class="card text-center" style="width: 35rem;">
                            <div class="card-header" style="width: 100%;">
                            Match!
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% if friend_info['friends_photo'] != None %}
                                            <img class="card-img-top" src="{{ url_for('static', filename=friend_info['friends_photo']) }}" position="absolute" alt="User profile photo">
                                        {% else %}
                                            <div style="width: 120; height:120; background-color: rgb(201, 161, 161); position: relative; top: 5px; left: 40px; text-align: center;">No profile photo</div>
                                        {% endif %}    
                                    </div>   
                                    <div class="col-sm-6">
                                        <h3 class="card-title">@{{ friend_info['friends_username'] }}</h3>
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input class="btn btn-primary" name="submit_button" type="submit" value="Blend">
                                    </div>       
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

{# {{ url_for('friends_search_results') }} #}